
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Cotações</title>
</head>
<body>
    <form method="GET" action="{% url 'exibir_grafico' %}">
        <label for="data">Selecione uma data:</label>
        <input type="date" id="data" name="data" value="{{ data_selecionada }}">
    
        <br><br>
    
        <label>Escolha as moedas:</label>
        {% for moeda in ["BRL", "EUR", "JPY"] %}
            <input type="checkbox" name="moedas" value="{{ moeda }}" 
                {% if moeda in moedas_selecionadas %}checked{% endif %}> {{ moeda }}
        {% endfor %}
    
        <button type="submit">Buscar</button>
    </form>
    <img src="{{ grafico_url }}" alt="Gráfico de cotações">
     
</body>
</html>
